:root{
	--HEADER_HEIGHT: 52px;

	--MARGIN: 10px
}

body{
	background-color: rgb(107, 209, 184);
}

body > .HEADER{
	position: fixed;
	top: 0px;
	left: 0px;

	width: 100vw;
	height: var(--HEADER_HEIGHT);

	background-color: rgba(255, 255, 255, 0.5);
	backdrop-filter: blur(1px);
}

body > .HEADER > .TITLE{
	display: inline;
}
body > .HEADER > .TITLE > a{
	text-decoration: none;
	color: black;
}

body > .CONTENTS{
	margin: var(--MARGIN);
	margin-top: var(--HEADER_HEIGHT);

	padding: calc(var(--MARGIN) / 2);

	min-height: calc(100vh - var(--HEADER_HEIGHT) - var(--MARGIN));

	background-color: whitesmoke;
}