:root{
	--HEADER_HEIGHT: 52px;
}

body{
	background-color: rgb(107, 209, 184);
}

.HEADER{
	position: fixed;
	top: 0px;
	left: 0px;

	width: 100vw;
	height: var(--HEADER_HEIGHT);

	background-color: rgba(255, 255, 255, 0.5);
	backdrop-filter: blur(1px);
}

.HEADER > .TITLE{
	display: inline;
}
.HEADER > .TITLE > a{
	text-decoration: none;
	color: black;
}

.CONTENTS{
	margin: 10px;
	margin-top: var(--HEADER_HEIGHT);

	padding: 5px;

	min-height: calc(100vh - var(--HEADER_HEIGHT) - 10px);

	background-color: whitesmoke;
}