.ALERT{
	border: solid 1px;
	background-color: rgb(177, 177, 177);

	width: fit-content;

	padding: var(--MARGIN);

	margin: auto;
}

.TEMPLATE{
	float: right;
	clear: right;

	width: 200px;

	margin-left: calc(var(--MARGIN) * 2);
	margin-right: calc(var(--MARGIN) * 2);
	margin-bottom: calc(var(--MARGIN) * 2);

	background-color: rgb(221, 221, 221);
}

.TEMPLATE > .TITLE{
	background-color: rgb(194, 194, 194);

	text-align: center;
}

.TEMPLATE > .CONTENTS{
	padding: var(--MARGIN);
}

.TEMPLATE > .CONTENTS > a > img{
	width: 100%;
	height: auto;
}

.SOURCE_LINK{
	vertical-align: top;
	font-size: 12px;

	text-decoration: none;
}

.SOURCE:target{
	background-color: aqua;
}